nav {
  display:flex;
  justify-content: space-between;
}
body {
  font-family: 'Manrope';
  font-size: 1em;
  background-color: #1F2039;
}
a {
  color: black;
  text-decoration: none;
  color:#242424;
}
a:hover {
  text-decoration: underline;

}

/*liens contact et portfolio: dégradé et pas souligné*/
.cta:hover {
  text-decoration: none;
  background: linear-gradient(#696484, #8788ba);
}

em {
  color: #A5B4FC;
  font-style: normal;
}

h1 {
  font-family: 'Montserrat';
  font-size: 3.5em;
  color: #A5B4FC;
}
h2{
  color:#F9F8FF;
}

p,
li {
  font-size: 1.1em;
  color:#F9F8FF;
}

.contenu {
  border-bottom: 1px solid #8e86b5;
  border-right: 1px solid#8e86b5 ;
  padding: 50px;
}

.contact {
  background-color: white ;
  border-radius: 50px;
}

/*réduire l'opacité à 0.5 au survol, dans les icônes de l'en-tête et du pied-de-page */
.icon:hover {
  opacity: 0.5;
}

header,
footer {
  background-color:white;
  padding: 20px 50px 20px;
}

section {
  padding: 80px;
}
/*centrer le contenu*/
.main-à-propos {
  width: 50%;
  margin:auto;
}
#services {
  margin-top: 30px;
}
ul {
  margin-top: 30px;
}
